<div class="container page-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="80%">
    <div fxLayout="row">
      <div class="full-width">
        <div fxLayout="column" class="w-50 dib" fxFlex.xs="100%" fxFlex.md="20%">
          <button class="m-0-8" mat-raised-button color="warn" routerLink="/request">Request for Blood</button>
        </div>
      </div>
    </div>
    <h3 class="tac">
      Blood Donation camps
    </h3>
    <mat-card class="m-16-0">
      <div fxLayout="row">
        <div class="full-width">

          <div class="mat-list mat-list-base">
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">location</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">Kothrud Pune</div>
            </div>
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">Date</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">1/6/2019</div>
            </div>
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">Contact Person</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">John Doe</div>
            </div>
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">Contact No.</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">9876543234</div>
            </div>
          </div>
        </div>
      </div>
      <hr class="m-24-0">
      <div fxLayout="row">
        <div class="full-width">
          <div fxLayout="column" class="w-50 dib" fxFlex="50%">
            <button class="m-0-8" mat-raised-button color="warn">Reject</button>
          </div>
          <div fxLayout="column" class="w-50 dib" fxFlex="50%">
            <button class="m-0-8" mat-raised-button color="primary">Accept</button>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="m-16-0">
      <div fxLayout="row">
        <div class="full-width">

          <div class="mat-list mat-list-base">
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">location</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">Kothrud Pune</div>
            </div>
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">Date</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">1/6/2019</div>
            </div>
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">Contact Person</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">John Doe</div>
            </div>
            <div fxLayout="row" class="mat-list-item li-item">
              <div fxLayout="column" class="" fxFlex="45%">Contact No.</div>
              <div fxLayout="column" fxFlex="5%">:</div>
              <div fxLayout="column" fxFlex="50%">9876543234</div>
            </div>
          </div>
        </div>
      </div>
      <hr class="m-24-0">
      <div fxLayout="row">
        <div class="full-width">
          <div fxLayout="column" class="w-50 dib" fxFlex="50%">
            <button class="m-0-8" mat-raised-button color="warn">Reject</button>
          </div>
          <div fxLayout="column" class="w-50 dib" fxFlex="50%">
            <button class="m-0-8" mat-raised-button color="primary">Accept</button>
          </div>
        </div>
      </div>
    </mat-card>



  </div>
</div>