<div class="container page-container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="80%">
    <mat-card>
      <div fxLayout="row">
         <mat-divider class="m-24-0"></mat-divider>
        <div class="full-width">
          <div fxLayout="column" class="w-50 dib" fxFlex="50%"> <button class="m-0-8" mat-raised-button color="warn">Reject</button> </div>
          <div fxLayout="column" class="w-50 dib" fxFlex="50%"> <button class="m-0-8" mat-raised-button color="primary">Accept</button> </div>
        </div>
      </div>
    </mat-card>

  </div>
</div>